<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994016185147-f42s74okels5b1lu7uh3g8d2n9mk4mak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994016185147-f42s74okels5b1lu7uh3g8d2n9mk4mak</string>
	<key>API_KEY</key>
	<string>AIzaSyBFTIHfdc-lPmp2McssDJ8MmQOAuoOeKkc</string>
	<key>GCM_SENDER_ID</key>
	<string>994016185147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>comhephzisofttodoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>comhephzisofttodoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994016185147:ios:3923009b6254e55debc51e</string>
</dict>
</plist>